In [133]:
import pandas as pd

In [135]:
dados = pd.read_csv ('credit-g.csv')

In [137]:
dados.shape

(1000, 21)

In [139]:
dados.describe()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [141]:
#primeras 5 tabelas.
dados.head(5)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,'<0',6,'critical/other existing credit',radio/tv,1169,'no known savings','>=7',4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,'0<=X<200',48,'existing paid',radio/tv,5951,'<100','1<=X<4',2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,'<100','4<=X<7',2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,'<0',42,'existing paid',furniture/equipment,7882,'<100','4<=X<7',2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,'<0',24,'delayed previously','new car',4870,'<100','1<=X<4',3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [143]:
dados.tail ()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
995,'no checking',12,'existing paid',furniture/equipment,1736,'<100','4<=X<7',3,'female div/dep/mar',none,...,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,'<0',30,'existing paid','used car',3857,'<100','1<=X<4',4,'male div/sep',none,...,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,'no checking',12,'existing paid',radio/tv,804,'<100','>=7',4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,'<0',45,'existing paid',radio/tv,1845,'<100','1<=X<4',4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,'0<=X<200',45,'critical/other existing credit','used car',4576,'100<=X<500',unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [145]:
dados.rename(columns={"checking_status":'Checando Status', "duration": 'Duração', 'credit_history': "Histórico", 'purpose':'Propósito','credit_amount': 'Valor do Crédito','savings_status':'Situação da Poupança','employment':'Tempo de Emprego',"installment_commitment" :"Valor da Parcela Cometida", 'personal_status':"Status Social","other_parties": 'Outros Envolvidos', "property_magnitude" :'Propriedade', "age":"Idade","other_payment_plans": "Outros Planos de Pagamento","housing":"Moradia", "existing_credits": "Creditos Existentes", "job": "Trabalho", "num_dependents":"Dependentes","own_telephone":"Telefone Próprio", "foreign_worker": "Estangeiro", "class": "Score" }, inplace = True)

In [147]:
dados.head()

,Checando Status,Duração,Histórico,Propósito,Valor do Crédito,Situação da Poupança,Tempo de Emprego,Valor da Parcela Cometida,Status Social,Outros Envolvidos,...,Propriedade,Idade,Outros Planos de Pagamento,Moradia,Creditos Existentes,Trabalho,Dependentes,Telefone Próprio,Estangeiro,Score
0,'<0',6,'critical/other existing credit',radio/tv,1169,'no known savings','>=7',4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,'0<=X<200',48,'existing paid',radio/tv,5951,'<100','1<=X<4',2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,'<100','4<=X<7',2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,'<0',42,'existing paid',furniture/equipment,7882,'<100','4<=X<7',2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,'<0',24,'delayed previously','new car',4870,'<100','1<=X<4',3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [149]:
dados.isnull().sum()

Checando Status               0
Duração                       0
Histórico                     0
Propósito                     0
Valor do Crédito              0
Situação da Poupança          0
Tempo de Emprego              0
Valor da Parcela Cometida     0
Status Social                 0
Outros Envolvidos             0
residence_since               0
Propriedade                   0
Idade                         0
Outros Planos de Pagamento    0
Moradia                       0
Creditos Existentes           0
Trabalho                      0
Dependentes                   0
Telefone Próprio              0
Estangeiro                    0
Score                         0
dtype: int64

In [151]:
for col in dados.columns:
    if dados[col].dtype == "object":
        print(f"\n{col}:\n{dados[col].unique()}")

Checando Status:
["'<0'" "'0<=X<200'" "'no checking'" "'>=200'"]

Histórico:
["'critical/other existing credit'" "'existing paid'"
 "'delayed previously'" "'no credits/all paid'" "'all paid'"]

Propósito:
['radio/tv' 'education' 'furniture/equipment' "'new car'" "'used car'"
 'business' "'domestic appliance'" 'repairs' 'other' 'retraining']

Situação da Poupança:
["'no known savings'" "'<100'" "'500<=X<1000'" "'>=1000'" "'100<=X<500'"]

Tempo de Emprego:
["'>=7'" "'1<=X<4'" "'4<=X<7'" 'unemployed' "'<1'"]

Status Social:
["'male single'" "'female div/dep/mar'" "'male div/sep'" "'male mar/wid'"]

Outros Envolvidos:
['none' 'guarantor' "'co applicant'"]

Propriedade:
["'real estate'" "'life insurance'" "'no known property'" 'car']

Outros Planos de Pagamento:
['none' 'bank' 'stores']

Moradia:
['own' "'for free'" 'rent']

Trabalho:
['skilled' "'unskilled resident'" "'high qualif/self emp/mgmt'"
 "'unemp/unskilled non res'"]

Telefone Próprio:
['yes' 'none']

Estangeiro:
['yes' 'no']

Score:
['good' 'bad']

In [153]:
for col in dados.columns:
    if dados[col].dtype == "object":
        dados[col] = dados[col].str.replace("'", "")

In [155]:
dados['Checando Status'] = dados['Checando Status'].map({
    'no checking': 'sem conta',
    '<0': 'menos de 0',
    '0<=X<200': 'entre 0 e 200',
    '>=200': 'acima de 200'
})

In [157]:
dados.head()

,Checando Status,Duração,Histórico,Propósito,Valor do Crédito,Situação da Poupança,Tempo de Emprego,Valor da Parcela Cometida,Status Social,Outros Envolvidos,...,Propriedade,Idade,Outros Planos de Pagamento,Moradia,Creditos Existentes,Trabalho,Dependentes,Telefone Próprio,Estangeiro,Score
0,menos de 0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,entre 0 e 200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,sem conta,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,menos de 0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,menos de 0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad

In [159]:
dados['Histórico'] = dados['Histórico'].map({
    'no credits/all paid': 'sem crédito/tudo pago',
    'all paid': 'tudo pago',
    'existing paid': 'crédito existente pago',
    'delayed previously': 'atraso anterior',
    'critical/other existing credit': 'crédito crítico ou outro'
})

In [161]:
dados['Propósito'] = dados['Propósito'].map({
    'radio/tv': 'rádio/tv',
    'education': 'educação',
    'furniture/equipment': 'móveis/equipamento',
    'new car': 'carro novo',
    'used car': 'carro usado',
    'business': 'negócios',
    'domestic appliance': 'eletrodoméstico',
    'repairs': 'reparos',
    'other': 'outros',
    'retraining': 'reciclagem profissional'
})

In [163]:
dados['Situação da Poupança'] = dados['Situação da Poupança'].map({
    'no known savings': 'sem poupança conhecida',
    '<100': 'menos de 100',
    '500<=X<1000': 'entre 500 e 1000',
    '>=1000': 'mais de 1000',
    '100<=X<500': 'entre 100 e 500'
})

In [165]:
dados['Tempo de Emprego'] = dados['Tempo de Emprego'].map({
    '<1': 'menos de 1 ano',
    '1<=X<4': 'entre 1 e 4 anos',
    '4<=X<7': 'entre 4 e 7 anos',
    '>=7': '7 anos ou mais',
    'unemployed': 'desempregado'
})

In [167]:
dados['Status Social'] = dados['Status Social'].map({
    'male single': 'homem solteiro',
    'female div/dep/mar': 'mulher (divorciada, dependente ou casada)',
    'male div/sep': 'homem divorciado/separado',
    'male mar/wid': 'homem casado/viúvo'
})

In [169]:
dados['Outros Envolvidos'] = dados['Outros Envolvidos'].map({
    'none': 'nenhum',
    'guarantor': 'fiador',
    'co applicant': 'co-requerente'
})

In [171]:
dados['Propriedade'] = dados['Propriedade'].map({
    'car': 'carro',
    'life insurance': 'seguro de vida',
    'no known property': 'sem propriedade conhecida',
    'real estate': 'imóvel'
})

In [173]:
dados['Outros Planos de Pagamento'] = dados['Outros Planos de Pagamento'].map({
    'none': 'nenhum',
    'bank': 'banco',
    'stores': 'lojas'
})

In [175]:
dados['Moradia'] = dados['Moradia'].map({
    'own': 'própria',
    'for free': 'gratuita',
    'rent': 'alugada'
})

In [177]:
dados['Trabalho'] = dados['Trabalho'].map({
    'skilled': 'qualificado',
    'unskilled resident': 'não qualificado (residente)',
    'high qualif/self emp/mgmt': 'altamente qualificado/autônomo/gestão',
    'unemp/unskilled non res': 'desempregado/não qualificado (não residente)'
})

In [179]:
dados['Telefone Próprio'] = dados['Telefone Próprio'].map({
    'yes': 'sim',
    'no': 'não'
})

In [180]:
dados['Estangeiro'] = dados['Estangeiro'].map({
    'yes': 'sim',
    'no': 'não'
})

In [183]:
dados['Score'] = dados['Score'].map({
    'good': 'bom',
    'bad': 'ruim'
})

In [185]:
# Conferência geral das colunas categóricas
for col in dados.columns:
    if dados[col].dtype == "object":
        print(f"\n{col}:\n{dados[col].unique()}")

Checando Status:
['menos de 0' 'entre 0 e 200' 'sem conta' 'acima de 200']

Histórico:
['crédito crítico ou outro' 'crédito existente pago' 'atraso anterior'
 'sem crédito/tudo pago' 'tudo pago']

Propósito:
['rádio/tv' 'educação' 'móveis/equipamento' 'carro novo' 'carro usado'
 'negócios' 'eletrodoméstico' 'reparos' 'outros' 'reciclagem profissional']

Situação da Poupança:
['sem poupança conhecida' 'menos de 100' 'entre 500 e 1000' 'mais de 1000'
 'entre 100 e 500']

Tempo de Emprego:
['7 anos ou mais' 'entre 1 e 4 anos' 'entre 4 e 7 anos' 'desempregado'
 'menos de 1 ano']

Status Social:
['homem solteiro' 'mulher (divorciada, dependente ou casada)'
 'homem divorciado/separado' 'homem casado/viúvo']

Outros Envolvidos:
['nenhum' 'fiador' 'co-requerente']

Propriedade:
['imóvel' 'seguro de vida' 'sem propriedade conhecida' 'carro']

Outros Planos de Pagamento:
['nenhum' 'banco' 'lojas']

Moradia:
['própria' 'gratuita' 'alugada']

Trabalho:
['qualificado' 'não qualificado (residente)'
 'altamente qualificado/autônomo/gestão'
 'desempregado/não qualificado (não residente)']

Telefone Próprio:
['sim' nan]

Estangeiro:
['sim' 'não']

Score:
['bom' 'ruim']

In [187]:
dados.head()

,Checando Status,Duração,Histórico,Propósito,Valor do Crédito,Situação da Poupança,Tempo de Emprego,Valor da Parcela Cometida,Status Social,Outros Envolvidos,...,Propriedade,Idade,Outros Planos de Pagamento,Moradia,Creditos Existentes,Trabalho,Dependentes,Telefone Próprio,Estangeiro,Score
0,menos de 0,6,crédito crítico ou outro,rádio/tv,1169,sem poupança conhecida,7 anos ou mais,4,homem solteiro,nenhum,...,imóvel,67,nenhum,própria,2,qualificado,1,sim,sim,bom
1,entre 0 e 200,48,crédito existente pago,rádio/tv,5951,menos de 100,entre 1 e 4 anos,2,"mulher (divorciada, dependente ou casada)",nenhum,...,imóvel,22,nenhum,própria,1,qualificado,1,NaN,sim,ruim
2,sem conta,12,crédito crítico ou outro,educação,2096,menos de 100,entre 4 e 7 anos,2,homem solteiro,nenhum,...,imóvel,49,nenhum,própria,1,não qualificado (residente),2,NaN,sim,bom
3,menos de 0,42,crédito existente pago,móveis/equipamento,7882,menos de 100,entre 4 e 7 anos,2,homem solteiro,fiador,...,seguro de vida,45,nenhum,gratuita,1,qualificado,2,NaN,sim,bom
4,menos de 0,24,atraso anterior,carro novo,4870,menos de 100,entre 1 e 4 anos,3,homem solteiro,nenhum,...,sem propriedade conhecida,53,nenhum,gratuita,2,qualificado,2,NaN,sim,ruim